src/main/resources/wsdl/file-transfer-v1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="FileTransferService" xmlns:ft="http://www.lightcomp.com/ft/xsd/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:import namespace="http://www.lightcomp.com/ft/xsd/v1" location="file-transfer-v1.xsd"/>
	<wsdl:types/>
	<wsdl:message name="StatusResponse">
		<wsdl:documentation>Stav přenosu</wsdl:documentation>
		<wsdl:part name="status" type="ft:FileTransferStatus"/>
	</wsdl:message>
	<wsdl:message name="TransferId">
		<wsdl:documentation>Jedinečný identifikátor přenosu. Server musí garantovat jedinečnost tohoto identifikátoru. Identifikátor vzniká jako odpověď na metodu Begin.</wsdl:documentation>
		<wsdl:part name="transferId" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="ReceiveRequest">
		<wsdl:documentation>Požadavek pro příjem dat ze serveru.</wsdl:documentation>
		<wsdl:part name="frameSeqNum" type="xs:integer">
			<wsdl:documentation>Sekvenční číslo požadovaného rámce.</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="transferId" type="xs:string">
			<wsdl:documentation>Identifikátor přenosu.</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="FileTransferException">
		<wsdl:documentation>Definice výjimky při přenosu.</wsdl:documentation>
		<wsdl:part name="errorDescription" type="ft:ErrorDescription">
			<wsdl:documentation>Popis výjimky</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="SendRequest">
		<wsdl:documentation>Odesílaný požadavek na server, parametr metody Send.</wsdl:documentation>
		<wsdl:part name="frame" type="ft:Frame">
			<wsdl:documentation>Přenášený rámec</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="transferId" type="xs:string">
			<wsdl:documentation>Identifikátor přenosu</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ReceiveResponse">
		<wsdl:documentation>Odpověď na požadavek pro příjem dat. Obsahuje přenášený rámec.</wsdl:documentation>
		<wsdl:part name="frame" type="ft:Frame"/>
	</wsdl:message>
	<wsdl:message name="EmptyMessage">
		<wsdl:documentation>Prázdná zpráva pro metody bez návratové hodnoty. Používá se, aby nedocházelo k asynchronnímu zpracování takových metod.</wsdl:documentation>
	</wsdl:message>
	<wsdl:message name="RequestId">
		<wsdl:documentation>Identifikátor požadavku přenosu. Parametr metody Begin.</wsdl:documentation>
		<wsdl:part name="requestId" type="xs:string"/>
	</wsdl:message>
	<wsdl:portType name="FileTransferService">
		<wsdl:documentation>Služba pro přenos souborů. API je tvořeno pěti přenosovými metodami a šestou pro zjištění stavu přenosu (Status).</wsdl:documentation>
		<wsdl:operation name="Abort">
			<wsdl:documentation>Klient pošle požadavek na přerušení. Lze jej provést pouze pokud je přenos aktivní. Po přerušení nelze pokračovat v přenosu dat.

Pokud již přenos není možné přerušit nebo server o takovém přenosu nic neví, tak dojde k výjimce FileTransferException.</wsdl:documentation>
			<wsdl:input name="transferId" message="TransferId"/>
			<wsdl:output name="emptyMessage" message="EmptyMessage"/>
			<wsdl:fault name="fileTransferException" message="FileTransferException"/>
		</wsdl:operation>
		<wsdl:operation name="Begin">
			<wsdl:documentation>Klient pošle požadavek na zahájení přenosu. Server musí držet tento přenos aktivní dokud nebude dokončen, přerušen, neselže, nebo nedojde k vypršení časových limitů.
Odpovědí na zahájení přenosu je TransferId. Jedná se o jednoznačný identifikátor přenosu.</wsdl:documentation>
			<wsdl:input name="requestId" message="RequestId"/>
			<wsdl:output name="transferId" message="TransferId"/>
			<wsdl:fault name="fileTransferException" message="FileTransferException"/>
		</wsdl:operation>
		<wsdl:operation name="Finish">
			<wsdl:documentation>Klient notifikuje server o dokončení přenosu.</wsdl:documentation>
			<wsdl:input name="transferId" message="TransferId"/>
			<wsdl:output name="emptyMessage" message="EmptyMessage"/>
			<wsdl:fault name="fileTransferException" message="FileTransferException"/>
		</wsdl:operation>
		<wsdl:operation name="Receive">
			<wsdl:documentation>Klient vyžádává data ze serveru. Identifikací rámce je jeho pořadové číslo.

Při volání metody může dojít k výjimce FileTransferException. Volající musí respektovat stav BUSY a pokusit se o pokračování přenosu až to bude možné.</wsdl:documentation>
			<wsdl:input name="receiveRequest" message="ReceiveRequest"/>
			<wsdl:output name="receiveResponse" message="ReceiveResponse"/>
			<wsdl:fault name="fileTransferException" message="FileTransferException"/>
		</wsdl:operation>
		<wsdl:operation name="Status">
			<wsdl:documentation>Získání stavu přenosu od serveru. Lze také využít jako ping metodu při obnovení spojení (např. při kódu výjimky BUSY).</wsdl:documentation>
			<wsdl:input name="transferId" message="TransferId"/>
			<wsdl:output name="statusResponse" message="StatusResponse"/>
			<wsdl:fault name="fileTransferException" message="FileTransferException"/>
		</wsdl:operation>
		<wsdl:operation name="Send">
			<wsdl:documentation>Klient odesílá data na server. Rámec je reprezentován streamem dat a bloky, které popisují přenášené složky a soubory.
Při volání metody může dojít k výjimce FileTransferException. Volající musí respektovat stav BUSY a pokusit se o pokračování přenosu až to bude možné.</wsdl:documentation>
			<wsdl:input name="sendRequest" message="SendRequest">
				<wsdl:documentation>Přenášená data</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="emptyMessage" message="EmptyMessage"/>
			<wsdl:fault name="fileTransferException" message="FileTransferException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FileTransferService" type="FileTransferService">
		<wsdl:documentation>Volání služby probíhá stylem "document", kdy jsou přenášeny jednotlivé zprávy.</wsdl:documentation>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Abort">
			<wsdl:documentation>Způsob napojení rozhraní do přenosového protokolu SOAP. Vlastní metody a jejich funkce jsou popsány v části PortTypes.</wsdl:documentation>
			<soap:operation soapAction="Abort" style="document"/>
			<wsdl:input name="transferId">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="emptyMessage">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fileTransferException">
				<soap:fault name="fileTransferException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Begin">
			<wsdl:documentation>Způsob napojení rozhraní do přenosového protokolu SOAP. Vlastní metody a jejich funkce jsou popsány v části PortTypes.</wsdl:documentation>
			<soap:operation soapAction="Begin" style="document"/>
			<wsdl:input name="requestId">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="transferId">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fileTransferException">
				<soap:fault name="fileTransferException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Finish">
			<wsdl:documentation>Způsob napojení rozhraní do přenosového protokolu SOAP. Vlastní metody a jejich funkce jsou popsány v části PortTypes.</wsdl:documentation>
			<soap:operation soapAction="Finish" style="document"/>
			<wsdl:input name="transferId">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="emptyMessage">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fileTransferException">
				<soap:fault name="fileTransferException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Receive">
			<wsdl:documentation>Způsob napojení rozhraní do přenosového protokolu SOAP. Vlastní metody a jejich funkce jsou popsány v části PortTypes.</wsdl:documentation>
			<soap:operation soapAction="Receive" style="document"/>
			<wsdl:input name="receiveRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="receiveResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fileTransferException">
				<soap:fault name="fileTransferException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Status">
			<wsdl:documentation>Způsob napojení rozhraní do přenosového protokolu SOAP. Vlastní metody a jejich funkce jsou popsány v části PortTypes.</wsdl:documentation>
			<soap:operation soapAction="Status" style="document"/>
			<wsdl:input name="transferId">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="statusResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fileTransferException">
				<soap:fault name="fileTransferException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Send">
			<wsdl:documentation>Způsob napojení rozhraní do přenosového protokolu SOAP. Vlastní metody a jejich funkce jsou popsány v části PortTypes.</wsdl:documentation>
			<soap:operation soapAction="Send" style="document"/>
			<wsdl:input name="sendRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="emptyMessage">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fileTransferException">
				<soap:fault name="fileTransferException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FileTransferService">
		<wsdl:port name="Port" binding="FileTransferService">
			<soap:address location="http://www.lightcomp.com/ft/ws/v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
