src/main/resources/wsdl/file-transfer-v1.xsd

<?xml  version='1.0' encoding='utf-8' ?>
<xs:schema targetNamespace="http://www.lightcomp.com/ft/xsd/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ft="http://www.lightcomp.com/ft/xsd/v1" xmlns:xmime="http://www.w3.org/2005/05/xmlmime">
	<xs:annotation>
		<xs:documentation>Definition of data types - XSD schema</xs:documentation>
	</xs:annotation>
	<xs:element name="AbortRequest" type="ft:AbortRequestType">
		<xs:annotation>
			<xs:documentation>Element with request to abort transfer.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BeginRequest" type="ft:GenericDataType">
		<xs:annotation>
			<xs:documentation>Element with request to set up a transfer.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BeginResponse" type="ft:BeginResponseType">
		<xs:annotation>
			<xs:documentation>Element containing the response to initiate a transfer.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ErrorDescription" type="ft:ErrorDescriptionType">
		<xs:annotation>
			<xs:documentation>Element describing the error condition.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FinishRequest" type="ft:FinishRequestType">
		<xs:annotation>
			<xs:documentation>Element indicating completion of the transfer.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Frame" type="ft:FrameType">
		<xs:annotation>
			<xs:documentation>Element representing one transferred frame.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GenericData" type="ft:GenericDataType">
		<xs:annotation>
			<xs:documentation>Element containing additional user data.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReceiveRequest" type="ft:ReceiveRequestType">
		<xs:annotation>
			<xs:documentation>Element with request to transfer another frame. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SendRequest" type="ft:SendRequestType">
		<xs:annotation>
			<xs:documentation>Sent data of one frame.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TransferId" type="ft:TransferIdType">
		<xs:annotation>
			<xs:documentation>Transfer identifier.&#xD;
This identifier is used as unique identifier of running transfer.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TransferStatus" type="ft:TransferStatusType">
		<xs:annotation>
			<xs:documentation>Element to capture status of transfer</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TransferStatusRequest" type="ft:TransferStatusRequestType">
		<xs:annotation>
			<xs:documentation>Element for requesting status of the transfer.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="BinData">
		<xs:annotation>
			<xs:documentation>Binary data.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:base64Binary"/>
	</xs:simpleType>
	<xs:simpleType name="ErrorCode">
		<xs:annotation>
			<xs:documentation>	- FATAL - Current transfer cannot continue due to a fatal error.&#xD;
	- BUSY - Receiver is busy; last request should be repeated after some time.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BUSY"/>
			<xs:enumeration value="FATAL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ErrorDetail">
		<xs:annotation>
			<xs:documentation>An optional textual error description that specifies a standard error in the SOAP envelope. The item is used to better understand and cause the error.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="FileTransferState">
		<xs:annotation>
			<xs:documentation>Possible transfer states.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTIVE"/>
			<xs:enumeration value="FAILED"/>
			<xs:enumeration value="FINISHED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FrameSeqNum">
		<xs:annotation>
			<xs:documentation>Frame sequence number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="TransferIdType">
		<xs:annotation>
			<xs:documentation>Type of transfer identifier, string. Maximal length is 256 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AbortRequestType">
		<xs:annotation>
			<xs:documentation>Request to abort transfer. ID of transfer has to be provided.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="transferId" type="ft:TransferIdType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BeginResponseType">
		<xs:annotation>
			<xs:documentation>Response to begin request. Response contains ID of transfer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="transferId" type="ft:TransferIdType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DirBegin">
		<xs:annotation>
			<xs:documentation>Folder header, only name of folder is transferred. Each folder may contain other folders or files.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ft:FrameBlock">
				<xs:sequence/>
				<xs:attribute name="n" use="required" type="xs:string">
					<xs:annotation>
						<xs:documentation>Name of folder. It is only name of folder without any slashes.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DirEnd">
		<xs:annotation>
			<xs:documentation>End of folder. Each transferred folder has to be explicitly finished by this closing block.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ft:FrameBlock">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ErrorDescriptionType">
		<xs:annotation>
			<xs:documentation>Data type for error description. Each error has a mandatory defined error type and an optional text description.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="detail" type="ft:ErrorDetail" minOccurs="0" maxOccurs="1"/>
			<xs:element name="errorCode" type="ft:ErrorCode" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FileBegin">
		<xs:annotation>
			<xs:documentation>Block to start file transfer. The file is determined by its name and the parent item within which it is based.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ft:FrameBlock">
				<xs:sequence/>
				<xs:attribute name="fs" use="required" type="xs:long">
					<xs:annotation>
						<xs:documentation>The file size in bytes can be larger than 2/4GB. This is required attribute.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="n" use="required" type="xs:string">
					<xs:annotation>
						<xs:documentation>The name of the transferred file. The plain name of the item is given, i.e. without the path. This is required attribute.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FileData">
		<xs:annotation>
			<xs:documentation>A block containing a reference to the file data in the data part of the frame.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ft:FrameBlock">
				<xs:sequence/>
				<xs:attribute name="ds" use="required" type="xs:long">
					<xs:annotation>
						<xs:documentation>Size of transmitted data in the data block.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="off" use="required" type="xs:long">
					<xs:annotation>
						<xs:documentation>Offset of the data in the data file.&#xD;
&#xD;
Odpovídající datový prvek v ISDP: CA0009</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FileEnd">
		<xs:annotation>
			<xs:documentation>Block marking the end of file transfer. The time of its last modification is transferred in the block. The block has 64 bytes reserved in the frame data for checksum transfer. This area always follows the data of the transferred file. This block can only be sent after the entire file has been transferred.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ft:FrameBlock">
				<xs:sequence/>
				<xs:attribute name="lm" use="required" type="xs:long">
					<xs:annotation>
						<xs:documentation>Èas poslední modifikace souboru.&#xD;
&#xD;
Odpovídající datový prvek v ISDP: CA0009</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FinishRequestType">
		<xs:annotation>
			<xs:documentation>Type indicating completion of the transfer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="transferId" type="ft:TransferIdType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FrameBlock" abstract="true">
		<xs:annotation>
			<xs:documentation>Abstract type for single transferred block in one frame. Block is typically file header, Folder definition or pointer to binary data.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="FrameBlocks">
		<xs:annotation>
			<xs:documentation>Type for collection of blocks transmitted in a single frame.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Pointer to single transferred block. Transferred block is specialization of abstract type FrameBlock.</xs:documentation>
				</xs:annotation>
				<xs:element name="db" type="ft:DirBegin" minOccurs="0" maxOccurs="1"/>
				<xs:element name="de" type="ft:DirEnd" minOccurs="0" maxOccurs="1"/>
				<xs:element name="fb" type="ft:FileBegin" minOccurs="0" maxOccurs="1"/>
				<xs:element name="fd" type="ft:FileData" minOccurs="0" maxOccurs="1"/>
				<xs:element name="fe" type="ft:FileEnd" minOccurs="0" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FrameType">
		<xs:annotation>
			<xs:documentation>Description of the transmission frame. Frame is sequence of blocks and one data stream. Each frame has defined size, sequence number and flag indicating whether this is the last frame of the transfer.&#xD;
MTOM is the preferred implementation to transfer binary data .&#xD;
A single large file can be spread over several frames. Conversely, several smaller files can be sent in a single frame. It depends on the defined maximum frame size and the maximum number of blocks (folders + files) in the frame.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="blocks" type="ft:FrameBlocks" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A collection of blocks transmitted in a single frame.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="data" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pøenášená data souborù. Implementace by mìly podporovat rozšíøení MTOM pro efektivní pøenos binárních dat.&#xD;
&#xD;
Implementaèní poznámka k vytváøení XSD: &#xD;
If you would like to use MTOM you have to add the xmime:expectedContentTypes="application/octet-stream" attribute (namespace is predefined).&#xD;
&#xD;
Odpovídající datový prvek v ISDP: CA0010</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="dataSize" use="required" type="xs:long">
			<xs:annotation>
				<xs:documentation>The size of the transmitted data in the frame, i.e. the size of the data in the data attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="last" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>A flag indicating whether this is the last frame of the transfer.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="seqNum" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>Frame sequence number. The first frame has the number 1.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GenericDataType">
		<xs:annotation>
			<xs:documentation>Additional user data, transmitted at the start or end of the transfer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A wrapper element that enables the transfer of binary or XML data.</xs:documentation>
				</xs:annotation>
				<xs:element name="xmlData" type="ft:XmlData" minOccurs="0" maxOccurs="1"/>
				<xs:element name="binData" type="ft:BinData" minOccurs="0" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Optional identifier of transferred data.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>Required type of transferred data.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ReceiveRequestType">
		<xs:annotation>
			<xs:documentation>Request to transfer another frame. The response is the sending of this frame and its acceptance by the client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="transferId" type="ft:TransferIdType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="frameSeqNum" type="ft:FrameSeqNum" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SendRequestType">
		<xs:annotation>
			<xs:documentation>Type for sending one data frame.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="frame" type="ft:FrameType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="transferId" type="ft:TransferIdType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransferStatusRequestType">
		<xs:annotation>
			<xs:documentation>Type to request status of the transfer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="transferId" type="ft:TransferIdType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransferStatusType">
		<xs:annotation>
			<xs:documentation>Type to capture the transfer status. The information about the current transfer status includes the sequence number of the last received frame. This can be used during connection recovery.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="resp" type="ft:GenericDataType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="lastFrameSeqNum" use="required" type="ft:FrameSeqNum">
			<xs:annotation>
				<xs:documentation>Vrací poøadové èíslo posledního zpracovaného rámce. Pokud nebyl žádný rámec pøijat/odeslán je vrácena nulová hodnota.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="state" use="required" type="ft:FileTransferState">
			<xs:annotation>
				<xs:documentation>Stav pøenosu&#xD;
&#xD;
Odpovídající datový prvek v ISDP: CA0011</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="XmlData">
		<xs:annotation>
			<xs:documentation>Embedded XML data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>XML data</xs:documentation>
				</xs:annotation>
			</xs:any>
		</xs:sequence>
	</xs:complexType>
</xs:schema>