src/main/resources/wsdl/file-transfer-v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.lightcomp.com/ft/xsd/v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ft="http://www.lightcomp.com/ft/xsd/v1"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime">
	<xs:annotation>
		<xs:documentation>Definice datových typů - XSD schéma
		</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="ErrorCode">
		<xs:annotation>
			<xs:documentation> - FATAL - nelze pokračovat v daném přenosu
				- BUSY - příjemce je zaneprázdněn, lze opakovat požadavek
				- ABORTED - přenos byl přerušen (lze přerušit ze strany odesílatele i
				příjemce)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BUSY" />
			<xs:enumeration value="FATAL" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FileTransferState">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTIVE" />
			<xs:enumeration value="COMMITTED" />
			<xs:enumeration value="FAILED" />
			<xs:enumeration value="PREPARED" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Dir">
		<xs:annotation>
			<xs:documentation>Adresář, přenáší se jeho název.

				Adresář může obsahovat další adresáře nebo soubory.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ft:Item">
				<xs:sequence>
					<xs:element name="item" type="ft:Item" minOccurs="0"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ErrorDescription">
		<xs:annotation>
			<xs:documentation>Obecná výjimka API.</xs:documentation>
		</xs:annotation>
		<xs:sequence />
		<xs:attribute name="errorCode" use="optional" type="ft:ErrorCode">
			<xs:annotation>
				<xs:documentation>Missing error code is equal to FATAL.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="File">
		<xs:annotation>
			<xs:documentation>Přenášený soubor.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ft:Item">
				<xs:sequence />
				<xs:attribute name="fileId" use="required" type="xs:string">
					<xs:annotation>
						<xs:documentation>Identifikátor souboru, používá se v přenosových
							rámcích.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="lastModified" use="required" type="xs:long">
					<xs:annotation>
						<xs:documentation>Value in milliseconds, since the epoch
							1970-01-01T00:00:00Z.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="size" use="required" type="xs:long">
					<xs:annotation>
						<xs:documentation>Velikost souboru v bytech, může být větší ne
							2/4GB.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FileChecksum">
		<xs:sequence />
		<xs:attribute name="checksum" use="required" type="xs:string" />
		<xs:attribute name="fileId" use="required" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="FileChecksums">
		<xs:annotation>
			<xs:documentation>Tato XML struktura, přenášena během první fáze
				commitu, musí obsahovat kontrolní součty všech přenesených souborů.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fileChecksum" type="ft:FileChecksum"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FileChunk">
		<xs:annotation>
			<xs:documentation>Popisuje část souboru v konkrétním rámci.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence />
		<xs:attribute name="fileId" use="required" type="xs:string" />
		<xs:attribute name="frameOffset" use="required" type="xs:long" />
		<xs:attribute name="offset" use="required" type="xs:long" />
		<xs:attribute name="size" use="optional" type="xs:long" />
	</xs:complexType>
	<xs:complexType name="FileChunks">
		<xs:annotation>
			<xs:documentation>Kolekce částí souborů přenášených v jednom rámci.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fileChunk" type="ft:FileChunk"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FileTransfer">
		<xs:annotation>
			<xs:documentation>Popis přenášených souborů a složek. XML struktura
				kopíruje cílovou adresářovou strukturu. Všechny soubory mají
				definovány stejný typ kontrolního součtu.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="ft:Item" minOccurs="1"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="checksumType" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>Implementation have to support: SHA-256, SHA-384,
					SHA-512</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FileTransferStatus">
		<xs:annotation>
			<xs:documentation>Reprezentuje stav příjemce přenosu. Včetně
				aktuálního stavu obsahuje i id posledního přijatého rámce (použito
				např. při obnově spojení).</xs:documentation>
		</xs:annotation>
		<xs:sequence />
		<xs:attribute name="lastReceivedFrameId" use="optional"
			type="xs:string" />
		<xs:attribute name="state" use="required" type="ft:FileTransferState" />
	</xs:complexType>
	<xs:complexType name="Frame">
		<xs:annotation>
			<xs:documentation>Rámec definuje přenášené soubory jako jeden datový
				stream. Preferovaná implementace je MTOM. Jeden velký soubor může
				být rozložen do několika rámců. Naopak několik menších souborů může
				být odesláno v jednom rámci. Vše se odvíjí od definované maximalní
				velikosti rámce.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="data" type="xs:base64Binary"
				xmime:expectedContentTypes="application/octet-stream" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="fileChunks" type="ft:FileChunks"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="frameId" use="required" type="xs:string" />
		<xs:attribute name="size" use="required" type="xs:long" />
	</xs:complexType>
	<xs:complexType name="Item">
		<xs:annotation>
			<xs:documentation>Přenášená položka, jedná se o adresář (Dir) nebo
				soubor (File). Každá přenášená položka má své jméno.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence />
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>Jméno přenášené položky.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
